@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  color: #200120;
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #200120;
}

button:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.button {
  color: #fff;
  background-color: #F7012F;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.8rem 1.7rem;
  border-radius: 3.625rem;
  cursor: pointer;
  border: none;
  outline: none;
}
.button:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.button-transparent {
  color: #F7012F;
  border: 2px solid #F7012F;
  background: none;
}

.section {
  padding: 6rem 2rem 3rem;
}

.section-title {
  font-size: 3rem;
  color: #200120;
}

.section-subtitle {
  font-size: 0.875rem;
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .section {
    padding: 5rem 0rem 2rem;
  }
}
.footer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(38.83%, #03011E), color-stop(127.7%, #08014A));
  background: linear-gradient(180deg, #03011E 38.83%, #08014A 127.7%);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 850px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__content {
  max-width: 20rem;
}
.footer__content__subtitle {
  color: #F7012F;
}
.footer__content__title {
  margin: 0.2rem 0 1.5rem 0;
  color: white;
}
.footer__content__email, .footer__content__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  font-size: 1.25rem;
}
.footer__content__email p, .footer__content__phone p {
  color: #74E9FF;
  text-transform: uppercase;
  font-weight: 700;
}
.footer__content__email a, .footer__content__phone a {
  color: white;
}
.footer__content__phone {
  margin: 1rem 0;
  gap: 2.5rem;
}
.footer__content__socials i {
  padding: 1rem;
  margin: 0 0.5rem;
  width: 50px;
  height: 50px;
  text-align: center;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
.footer__content__socials i:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}
.footer__content__button {
  margin: 2rem 0;
}
.footer__content__img img {
  max-width: 25rem;
}
@media screen and (max-width: 850px) {
  .footer__content__img img {
    max-width: 20rem;
  }
}

.footer__rights {
  margin-top: 7rem;
  text-align: center;
  color: #002761;
}
.footer__rights span {
  color: #74E9FF;
  font-weight: 700;
}