@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  color: #200120;
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #200120;
}

button:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.button {
  color: #fff;
  background-color: #F7012F;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.8rem 1.7rem;
  border-radius: 3.625rem;
  cursor: pointer;
  border: none;
  outline: none;
}
.button:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.button-transparent {
  color: #F7012F;
  border: 2px solid #F7012F;
  background: none;
}

.section {
  padding: 6rem 2rem 3rem;
}

.section-title {
  font-size: 3rem;
  color: #200120;
}

.section-subtitle {
  font-size: 0.875rem;
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .section {
    padding: 5rem 0rem 2rem;
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
}
.header::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 0.65rem;
  background-color: #F7012F;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 1rem 0.75rem;
}

.nav__logo img {
  width: 9.2rem;
}

.nav__mobile-toggle,
.nav__mobile-close {
  display: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  font-weight: 400;
}
.nav__list .nav__list-item {
  max-width: 15rem;
}
.nav__list .nav__list-item:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.nav__list__home {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list__home .nav__list__home-new {
  position: absolute;
  top: -0.4rem;
  left: 2.5rem;
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: 700;
  color: #F7012F;
}
.nav__list__home .nav__list__home-arrow {
  position: absolute;
  top: 0.45rem;
  left: 3.4rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #F7012F;
}
.nav__list__home .nav__list__home-menu {
  position: absolute;
  left: -0.5rem;
  top: 1.7rem;
  width: 10rem;
  padding: 0.5rem 1rem;
  border: 0.5px solid #DEDBDB;
  border-top: 3px solid #F7012F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px 2px 5px 5px;
  font-size: 0.8rem;
  background-color: #fff;
}
.nav__list__home .nav__list__home-menu li {
  cursor: pointer;
}

.show-menu {
  display: none;
}

.scroll-header {
  -webkit-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.55);
          box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.55);
}

@media screen and (max-width: 1050px) {
  .nav__hamburger {
    display: block;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    left: 0;
    right: -200rem;
    top: 6.1rem;
    height: 100vh;
    width: 100vw;
    padding-top: 2rem;
    margin: auto;
    text-align: center;
    background-color: #fff;
  }
  .nav__list__mobile-show {
    right: 0;
  }
  .nav__mobile-toggle,
  .nav__mobile-close {
    display: block;
  }
  .nav__list__home-new,
  .nav__list__home-arrow {
    right: -1rem;
  }
  .nav__list__home {
    position: relative;
  }
  .nav__list__home .nav__list__home-menu {
    position: absolute;
    font-size: 0.8rem;
    left: -2.5rem;
  }
}
@media screen and (max-width: 576px) {
  nav {
    padding-top: 2rem;
  }
  .nav__logo img {
    width: 8rem;
  }
}