@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  color: #200120;
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #200120;
}

button:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.button {
  color: #fff;
  background-color: #F7012F;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.8rem 1.7rem;
  border-radius: 3.625rem;
  cursor: pointer;
  border: none;
  outline: none;
}
.button:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.button-transparent {
  color: #F7012F;
  border: 2px solid #F7012F;
  background: none;
}

.section {
  padding: 6rem 2rem 3rem;
}

.section-title {
  font-size: 3rem;
  color: #200120;
}

.section-subtitle {
  font-size: 0.875rem;
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .section {
    padding: 5rem 0rem 2rem;
  }
}
.packages {
  background: linear-gradient(180.02deg, #040120 33.84%, #053172 115.6%);
  color: white;
}

.packages__package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 0;
}
@media screen and (max-width: 650px) {
  .packages__package {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.packages__package__img {
  max-width: 13rem;
  height: 100%;
  margin: 1rem;
}
@media screen and (max-width: 992px) {
  .packages__package__img {
    max-width: 10rem;
  }
}
.packages__package__content {
  max-width: 20rem;
}
.packages__package__content span {
  font-weight: 700;
}
.packages__package__subtitle {
  font-size: 1.25rem;
}
.packages__package__title {
  display: inline-block;
  margin: 0.8rem 0;
  background-color: #F7012F;
  color: white;
  padding: 0.1rem 1.2rem;
  border-radius: 0.625rem;
  text-transform: uppercase;
}
.packages__package__description {
  font-size: 0.875rem;
}
.packages__package__offers {
  font-size: 0.875rem;
  margin: 1rem 0 1.5rem 1rem;
}
.packages__package__offers li {
  margin: 0.4rem 0;
}
.packages__package__offers li::before {
  content: "•";
  margin-right: 0.3rem;
  color: #74E9FF;
}
.packages__package__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.packages__package__button {
  border: none;
  color: white;
  background: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.packages__package__button i {
  margin-right: 0.3rem;
}
.packages__package__price {
  font-size: 1.25rem;
  font-weight: 700;
  color: #74E9FF;
}

/* row reverse */
.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 650px) {
  .row-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}